@if (user()) {
  <div [matMenuTriggerFor]="menu" data-testid="avatar">
    <button matMiniFab aria-label="Example icon button with a menu icon">
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="account_circle"
      ></mat-icon>
    </button>
  </div>
  <mat-menu #menu="matMenu">
    <p class="avatar-name">Olá, {{ user()?.displayName }}</p>
    @if (isAdmin()) {
      <button data-testid="avatar-admin" (click)="redirectTo('/admin-panel')" mat-menu-item>
        Administração
      </button>
    }
    <button data-testid="avatar-logout" (click)="logout()" mat-menu-item>Sair</button>
  </mat-menu>
}
