.app {
  color: #fff;
  padding: 10px 20px;
  background: #121212;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  padding: 20px;
  // background: #1e1e1e;
  background: #d3d3d3;
  height: calc(100vh - 115px);
}
